.o-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  &__bxCol{

  }

  .a-logo{
    img, 
    svg{
      max-width: 130px;
    }
  }
}

