.l-loopColors{

	.loop{
		@include grid(3, pxls(40));
	
		// @include media-breakpoint-down(lg){
		// 	@include grid(2, pxls(40));
		// }
	}

	&__head,
	> .head{
		width: 100%;
		margin-bottom: 1rem;
		grid-column-start: 1;
		grid-column-end: 4;
	}
	
}