.m-navHeader{
	ul{
		@extend %reset-list;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	li{
		margin: 10px;
	}
	a{
		padding: 5px;
	}
	@include media-breakpoint-down(lg){
		display: none;
	}
}